<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true"
      throwExceptions="true"
      internalLogFile="${basedir}/log/internal.log">
  
  <variable name="layout" value="${longdate} | ${uppercase:${level}} | HTS | ${logger} | ${message} | ${exception:format=tostring,StackTrace}" />

  <targets>
    <target name="logconsole" xsi:type="Console" layout="${layout}"/>
    <target name="fileEvent" xsi:type="File"
            fileName="${basedir}/log/hts-log-${shortdate}.log"
            concurrentWrites="false"
            keepFileOpen="false"
            archiveAboveSize="2100000"
            maxArchiveFiles="10"
            layout="${layout}" />
  </targets>
  
  <rules>
    <logger name="*" minlevel="Debug" writeTo="logconsole" />
    <logger name="*" minlevel="Debug" writeTo="fileEvent" />
  </rules>
</nlog>